*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    font-family: "Raleway";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;

}



h1 {
    font-size: 3vh;
    line-height: 33px;
    padding-bottom: 2vh;
}

p {
    font-weight: 500;
    font-size: 1.5vh;
    letter-spacing: 0.07em;
    color: #B4B4B4;
}

.logo {
    width: 22vw;
    height: 12vw;
   
}

.container {
    display: flex;
    margin: 10px;
    box-shadow: 9px, 9px, 9px, rgb(102, 102, 102);
    
}

    

.cardSlider {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background: #ffff;
    width: 13vh;
    height: 16vh;
    margin: 10px 12px;
    border-radius: 13px;
    filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.5));
    cursor: grab;
}

.cardSlider img {
    width: 9vh;
    margin-bottom: 8px;
    
}

.foodDishes {
    justify-content: space-around;
    display: inline-block;
    overflow-x: auto;
    white-space: nowrap;
    
}

.foodDishes img {
    width: 221.28px;
    height: 258.16px;
    object-fit: cover;
    border-radius: 15px;
}

.footText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.contador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{

        height: 10vh;
        width: 100%;
        background: #FAFAFA;
        position: fixed;
        bottom: 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        filter: drop-shadow(0px -5px 10px #B4B4B4);
        
}

.iconotamaño{

    height: 5vh;
    width: 4.5vh;
    position: relative;
}

.botonCarrito{

    background: #FE6B01;
    width: 8vh;
    height: 8vh;
    border-radius: 50px;
    top: -50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 1px 3px hsl(0, 0%, 35%));
    border-width: 0px;
    border-style: outset;
    border-image: initial;
    cursor: pointer;
}

.imgboton{
    width: 57%;

}

.iconos{

    border-width: 0px;
    border-style: outset;
    border-image: initial;
    background-color: transparent;
    cursor: alias;
}